@media(max-width: 650px) {

    /* Animation Text */
    .text {
        font-size: .4em;
    }

    /* Sidebar */
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1em;
        gap: 5em;
        height: 10vh;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    nav.active {
        height: 100vh;
        position: fixed;
        z-index: 99;
    }

    .nav-left {
        justify-content: space-between;
        width: 100%;
        height: auto;
    }

    .nav-left h1 {
        display: flex;
        font-size: 1.8em;
    }

    .nav-right {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        display: none;
    }

    .nav-right.active {
        display: flex;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 1.5em;
    }

    .sidebar-menu {
        display: flex;
    }

    .initial-content {
        height: 90vh;
    }

    .presentation {
        flex-direction: column;
        padding: 1em;
        justify-content: start;
        height: 90vh;
    }

    .introduction {
        height: 60%;
        justify-content: space-around;
        gap: 0;
        padding: 0;
    }

    .introduction p {
        font-size: 1.5em;
    }

    .introduction h1 {
        font-size: 1.5em;
        font-weight: 400;
        line-height: normal;
        gap: 0;
    }

    .introduction h1 span {
        font-size: 1.8em;
        font-weight: bold;
    }

    .introduction a {
        width: 35%;
        height: 2.5em;
        font-size: 1.2em;
    }

    .presentation-img {
        height: 40%;
        width: 100%;
    }

    .presentation-img img {
        width: 75%;
        height: 80%;
    }

    /* about me */

    .about-me {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .about-me .container-img {
        width: 100%;
    }

    .skills {
        width: 100%;
    }

    .skills .skills-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .p-wrapper {
        width: 100%;
        position: relative;
    }

    .item-about {
        height: 70%;
        justify-content: space-between;
    }

    .arrows-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 2em;
        margin-top: -3em;
    }



    .arrows-container img {
        opacity: .5;
        height: 10%;
        width: 10%;

        cursor: pointer;
    }

    .arrow-about.right {
        right: 0;
    }

    .item-about {
        position: absolute;
        width: 90%;
        opacity: 0;
        z-index: 0;
    }

    .item-about.active {
        opacity: 1;
        z-index: 1;
    }

    /* Projects */

    .container-projects {
        width: 100%;
        height: 100vh;
        padding: 0;
        display: flex;
        padding: 1em;
        gap: 2em;

    }

    .project-title {
        text-align: left;
        font-size: 2em;

    }

    .project {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .item {
        flex-direction: column;
        justify-content: space-around;
    }



    .left {
        height: 60%;
        width: 100%;
    }

    .link-project {
        width: 100%;
        height: 30%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link-project a {
        text-decoration: none;
        font-size: 1.2em;
        font-family: 'Roboto', sans-serif;
        color: rgb(187, 187, 187);
        font-weight: 600;
        transition: all .3s ease-in-out;
    }

    .link-project a:hover {
        transform: scale(1.1);
        color: rgb(240, 239, 239);
    }

    .project ul {
        width: 100%;

        padding: 0;
    }

    .right {
        border: 1px;
        height: 80%;
        width: 100%;
        padding: 1em;
        display: flex;
        border-radius: .5em;
        align-items: center;

    }

    .right .link-project {
        border-top: 1px solid rgb(187, 187, 187);
        width: 90%;
        font-size: 1em;
    }

    .right h3 {
        font-size: 1.4em;
        color: rgb(187, 187, 187);
    }

    .right .project-info {
        height: 85%;
        width: 100%;
        align-items: center;
        justify-content: center;
        word-spacing: normal;
        overflow: auto;
        padding: 1em .2em;

    }

    .project-info::-webkit-scrollbar {
        display: none;
    }

    .right p {
        padding: .4em;
        width: 100%;
        font-size: 1.2em;
        text-align: start;
        /* letter-spacing: 1px; */

    }

    /* Projects navbar */

    .select-project {
        display: none;
    }

    .select-project-mobile {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1em 1em;
        background-color: transparent;
        align-items: center;

    }

    .select-project-mobile ul {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .arrow-left-mobile {
        left: 1;
        width: auto;
    }

    .arrow-right-mobile {
        right: 1;
        width: auto;
    }

    .arrow-right-mobile,
    .arrow-left-mobile {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        cursor: pointer;
        padding: .5em;
        border: none;
    }

    .arrow-left-mobile {
        transform: rotate(180deg);
    }

    .arrow-right-mobile img,
    .arrow-left-mobile img {
        width: 30px;
        height: 30px;
    }

    .select-item-mobile {
        width: 80%;
        padding: 1em 1.4em;
        position: absolute;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 1.1em;
        color: rgb(187, 187, 187);
        flex: none;
        opacity: 0;
        transition: all .4s ease-in-out;
        font-size: 1.2em;
    }

    .select-item-mobile.active {
        opacity: 1;
    }

}

@media(max-width:420px) {
    .item-about {
        height: 50vh;
    }

    .arrows-container {
        margin: 0;
    }
}

@media(max-width:380px) {

    .item-about {
        height: 50vh;
    }

    .arrows-container {
        margin: 0;
    }

    .item-about p {
        font-size: 2.2em;
    }

    .container-projects h1 {
        font-size: 1.7em;
    }

    .left {
        height: 45%;
    }

    .left h1 {
        font-size: 1.4em;
    }

    .right {
        height: 50%;
    }

    .right p {
        font-size: 1.1em;
    }

    .link-project a {
        font-size: 1em;
    }
}

@media(max-width:330px) {
    .item-about {
        height: 100%;
    }

    .arrows-container {
        margin: 0;
    }

    .skills {
        margin-top: 1em;
    }

    .text {
        font-size: .3em;
    }

    /* SIDE MENU */
    .nav-left h1 {
        font-size: 1.4em;
    }

    .sidebar-menu {
        width: 2em;
    }

    /* Presentation */

    .introduction h1 {
        font-size: 1.2em;
    }

    .introduction p {
        font-size: 1em;
    }

    .introduction a {
        height: 15%;
        font-size: 1em;
    }

    .presentation-img img {
        width: 70%;
    }

    /* Techs */

    .skills {
        justify-content: space-between;
        padding-bottom: 2em;
    }

    .each-tech {
        font-size: .8em;
        height: 3em;
    }



    /* Projects */
    .container-projects h1 {
        font-size: 1.4em;
    }

    .link-project {
        height: auto;
        padding: .3em;
    }

    .left h1 {
        font-size: 1em;
    }

    .right {
        height: auto;
    }

    .right h3 {
        font-size: 1em;
    }

    .right p {
        font-size: .9em;
    }

    .link-project a {
        font-size: .9em;
    }

    .select-item-mobile {
        font-size: .9em;
    }
}