@media(max-width: 600px) {

    /* Sidebar */
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1em;
        gap: 5em;
        background-color: rgb(12, 12, 43);
    }

    body::-webkit-scrollbar {
        display: none;
    }

    nav.active {
        height: 100vh;
        position: fixed;
        z-index: 99;


    }

    .nav-left {
        justify-content: space-between;
        width: 100%;
        height: auto;
    }

    .nav-left h1 {
        font-size: 1.6em;
    }

    .nav-right {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        display: none;
    }

    .nav-right.active {
        display: flex;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .sidebar-menu {
        display: flex;
    }

    .initial-content {
        height: 100vh;
    }

    .presentation {
        flex-direction: column;
        padding: 1em;
        justify-content: start;
        height: 80vh;
    }

    .introduction p {
        font-size: 1.4em;
    }

    .introduction h1 {
        font-size: 2em;
        font-weight: 400;

    }

    .introduction h1 span {
        font-size: 2.1em;
        font-weight: bold;
    }

    .introduction a {
        width: 50%;
        height: 2em;
    }

    .presentation-img {
        height: 70%;
        width: 70%;
    }

    .presentation-img img {
        width: 100%;
        height: 100%;
    }

    /* about me */

    .about-me {
        padding: 1em;
        height: 100%;
    }

    .info-container {
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
        overflow: auto;
        padding: .5em;
    }

    .info-container::-webkit-scrollbar {
        display: none;
    }

    .info-container .info {
        width: 100%;
        height: 80vh;
        padding: 1em;
        overflow: auto;
    }

    .info-container .info p {
        font-size: .8em;
        font-weight: 400;
    }

    .info-container .profile-picture {
        height: 20vh;
        width: 100%;
        margin-bottom: 1.5em;
    }

    .profile-picture img {
        width: 80%;
    }

    /* skills */

    .skills {
        width: 100%;
        padding: 1em;
        justify-content: space-around;
        height: 20vh;
    }

    .aux-border {
        display: none;
    }

    .skills h2 {
        font-size: 1.6em;
    }

    .skills .techs {
        width: 100%;
        height: 40%;
        justify-content: space-between;
    }

    /* Projects */

    .container-projects {
        width: 100%;
        height: 100vh;
        padding: 0;
        display: flex;
        padding: 1em;
        gap: 2em;

    }

    .project-title {
        text-align: left;
        font-size: 2em;

    }

    .project {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .item {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
    }

    .left {
        height: 60%;
        width: 100%;
    }

    .link-project {
        width: 100%;
        height: 30%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link-project a {
        text-decoration: none;
        font-size: 1.2em;
        font-family: 'Roboto', sans-serif;
        color: rgb(187, 187, 187);
        font-weight: 600;
        transition: all .3s ease-in-out;
    }

    .link-project a:hover {
        transform: scale(1.1);
        color: rgb(240, 239, 239);
    }

    .right {
        padding: 1em;
        border: 1px;
        height: 80%;
        width: 100%;
        background-color: rgba(7, 7, 36, 0.89);
        display: flex;
        border-radius: .5em;
        align-items: center;
        border: 1px solid rgb(187, 187, 187);
    }

    .right h3 {
        font-size: 1.8em;
        color: rgb(187, 187, 187);
    }

    .project-info {
        height: 85%;
        width: 100%;
        border-bottom: 3px solid rgb(255, 255, 255);
        word-spacing: normal;
        padding: 0;
        overflow: auto;
        padding: 1em 0 1em 0;
    }

    .project-info::-webkit-scrollbar {
        display: none;
    }

    .right p {
        height: auto;
        text-align: start;
        font-size: 19px;
    }

    /* Projects navbar */

    .select-project {
        display: none;
    }

    .select-project-mobile {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1em 1em;
        background-color: rgb(12, 12, 43);
        align-items: center;

    }

    .select-project-mobile ul {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .arrow-left-mobile {
        left: 1;
        width: auto;
    }

    .arrow-right-mobile {
        right: 1;
        width: auto;
    }

    .arrow-right-mobile,
    .arrow-left-mobile {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        cursor: pointer;
        padding: .5em;
        border: none;
    }

    .arrow-left-mobile {
        transform: rotate(180deg);
    }

    .arrow-right-mobile img,
    .arrow-left-mobile img {
        width: 30px;
        height: 30px;
    }

    .select-item-mobile {
        width: 80%;
        padding: 1em 1.4em;
        position: absolute;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 1.1em;
        color: rgb(187, 187, 187);
        flex: none;
        opacity: 0;
        transition: all .4s ease-in-out;
        font-size: 1.2em;
    }

    .select-item-mobile.active {
        opacity: 1;
    }

}

@media(max-height:800px) {

    .initial-content {
        justify-content: space-around;
        height: 95vh;
        padding-bottom: 1em;
    }

    .presentation {
        display: flex;
        justify-content: space-around;
        height: 100%;
    }

    .introduction {
        height: auto;
    }

    .introduction h1 span {
        font-size: 1.8em;
    }

    .btn-initial {
        height: 20%;
    }

    .presentation-img {
        height: 25%;
        width: 60%;
    }

    .about-me {
        height: 100%;
    }

    .info-container .profile-picture {
        height: 40%;
    }



    .right {
        height: 50%;
        padding: 1em;
    }

    .right h3 {
        font-size: 1.5em;
        margin-bottom: .4em;
    }

    .project-info {
        padding: 0;
        height: 65%;
        border-bottom-color: rgba(255, 255, 255, 0.479);
    }



}

@media(max-height:700px) {


    .right .project-info p {
        font-size: 1em;
        text-align: left;
        word-spacing: 1px;

    }

    .right .link-project a {
        font-size: 1.1em;
    }
}


@media (max-height:600px) {
    nav.active {
        height: 100%;
    }

    .nav-right {
        justify-content: flex-start;
        height: 100%;
    }

    .nav-right .nav-item {
        font-size: .7em;
    }

    .initial-content {
        height: 30%;

    }

    .presentation .introduction {
        line-height: normal;
    }

    .presentation .introduction h1 {
        font-size: 1.3em;
    }

    .presentation .introduction p {
        font-size: 1em;
    }

    .presentation .introduction a {
        height: 2em;
        font-size: 1.1em;
    }

    .item .left h1 {
        font-size: 1.3em;
    }

    .right {
        height: 40%;
        padding: .2em 0 .2em 0;
    }

    .info-container {
        height: 40%;
    }

    .right h3 {
        font-size: 1.1em;
    }

    .right .project-info {
        height: 100%;
    }

    .right .link-project a {
        font-size: .9em;
    }

    .select-item-mobile {
        font-size: 1em;
    }
}